{% extends "MZBlogBundle::layout.html.twig" %}

{% block title %}Miguel Perez &bull; Archive{% endblock %}
{% block description%}{% endblock %}

{% block content %}

{% for archive in Archives %}

{{ archive.date }}

{% for post in archive.posts %}

<h2>{{ post.title }}</h2>
<p>{{ post.body | raw }}</p>

{% if loop.last %}
{{ loop.length }}
{% endif %}
{% endfor %}

{% endfor %}

{% endblock %}