{% extends "MZBlogBundle::layout.html.twig" %}

{% block content %}
<h4>Coming soon!!!</h4>

{% for post in  Posts %}

<h1><a href="{{ path('mz_blog_posts_index',{ 'slug': post.slug }) }}">{{ post.title }}</a></h1>
{{ time_diff(post.createdAt) }}
<p>{{ post.body }}</p>

{% endfor %}

{% endblock %}