<!DOCTYPE html>
<html lang="en">
<head>
<meta charset=utf-8 />
<meta name="description" content="Miguel Perez Back-End developer residing in the New York area.">
<meta name="keywords" content="Miguel Perez, PHP, Symfony2, Web Developer, New york, Back-End Devepoer, New York">
<title>Miguel Perez</title>
</head>
<body>
</body>
</html>