<!DOCTYPE html>
<html lang="en">
<head>
<meta charset=utf-8 />
<title>{% block title %} Miguel Perez {% endblock %}</title>
<meta name="description" content="{% block description%}Miguel Perez Back-End developer residing in the New York area.{% endblock %}">
<meta name="keywords" content="{% block keywords%}Miguel Perez, PHP, Symfony2, Web Developer, New york, Back-End Devepoer, New York{% endblock %}">
</head>
<body {% if is_granted('ROLE_ADMIN') %}onLoad="javascript:_gaq.push(['_setVar','exclude_me'])"{% endif %}>
	<div id="header">
		<div class="inner">
			<h1 class="blog-title">
				<a href='{{ path('mz_blog_main_index') }}'>Miguel's blog</a>
			</h1>
		</div>
	</div>
	<div id="page">
		<div id="content">
			{% block content %}
			{% endblock %}
		</div>
		<div id="sidebar">
		<ul id="social">
		<li class="twitter"><a href="http://twitter.com/miguel0020" title="@miguel0020 on twitter">@miguel0020 on twitter</a></li>
		<li class="googleplus"><a href="https://plus.google.com/114676062121429419349" rel="author" title="Google Plus Profile">Google Plus Profile</a></li>
		<li class="facebook"><a href="https://www.facebook.com/miguel143" title="Facebook Profile">Facebook Profile</a></li>
		<li class="foursquare"><a href="https://foursquare.com/miguel0020" title="miguel0020 on foursquare">miguel0020 on foursquare</a></li>
		<li class="linkedin"><a href="http://www.linkedin.com/in/perezmiguel" title="Miguel Perez on linkedin">Miguel Perez on linkedin</a></li>
		<li class="github"><a href="https://github.com/miguel250" title="miguel250 on github">miguel250 on github</a></li>
		</ul>
		<div id="footer">
		<div id="power">Power by <a href="http://symfony.com">Symfony2</a> and <a href="http://www.mongodb.org">mongodb</a></div>
		</div>
		</div>
	</div>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-25126145-1']);
  _gaq.push(['_setDomainName', '.mlpz.mp']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</body>
</html>